table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--binance-light-gray);
  padding: 0.5rem;
  text-align: left;

  @media (max-width: 768px) {
    padding: 0.375rem;
    font-size: 0.9rem;
  }
}

thead tr:first-child th:first-child,
thead tr:first-child th:nth-child(2) {
  background-color: var(--binance-light-green-background);
  color: var(--binance-green);
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

thead tr:first-child th:nth-child(3),
thead tr:first-child th:last-child {
  background-color: var(--binance-light-red-background);
  color: var(--binance-red);
  text-align: center;
  font-weight: bold;
}

thead tr:nth-child(2) th {
  background-color: var(--binance-white);
  text-align: right;
  width: 25%;
}

tbody tr td {
  text-align: right;
  width: 25%;
  background-color: var(--binance-white);
}

tbody tr td:nth-child(1) {
  color: var(--binance-green);
}

tbody tr td:nth-child(2) {
  color: var(--binance-medium-gray);
}

tbody tr td:nth-child(3) {
  color: var(--binance-red);
}

tbody tr td:nth-child(4) {
  color: var(--binance-medium-gray);
}
